video#bgvid { 
    position: fixed;
    top: 50%;
    left: 80%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}
#logo {
	position: relative;
	top: 30%;
	left: 24%;
}
#spacer1 {
	position: relative;
	top: 34%;
	left: 26%;
}
#ravenger {
	position: relative;
	top: 40%;
	left: 26%;	
}
#twitch {
	position: relative;
	top: 40%;
	left: 40%;
}
#spacer2 {
	position: relative;
	top: 34%;
	left: 26%;
}
#youtube {
	position: relative;
	top: 40%;
	left: 26%;
}
#games {
	position: relative;
	top: 60%;
	left: 30%;
}
