video#bgvid { 
    position: fixed;
    top: 50%;
    left: 80%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}
#logo {
	position: absolute;
	top: 30px;
	left: 24px;
}
#spacer1 {
	position: relative;
	top: 34px;
	left: 26px;
}
#ravenger {
	position: relative;
	top: 40px;
	left: 26px;	
}
#twitch {
	position: relative;
	top: 40px;
	left: 40px;
}
#spacer2 {
	position: relative;
	top: 34px;
	left: 26px;
}
#youtube {
	position: relative;
	top: 40px;
	left: 26px;
}
#games {
	position: relative;
	top: 60px;
	left: 30px;
}
